<style>
    /* all links */
#sidebar .nav>li>a {
    color: #23abdf;
    padding: 7px 20px 5px 20px;
    font-size: 15px;
    font-weight: 550;
}

/* nested links */
#sidebar .nav .nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-size: 13px;
    color: #696969;
}
#sidebar .nav .nav>li>a:hover {
    background-color: #e9e9e9;
}

</style>
<ul class="nav nav-stacked fixed" id="sidebar-list-wrapper">
    <li>
        <a href="#GroupA">Getting Started</a>
        <ul class="nav nav-stacked" >
            <li><a href="#GroupASub1">Installation & Setup</a></li>
            <li><a href="#GroupASub2">Creating your frist Target</a></li>
            <li><a href="#GroupASub2">Installing & Importing Modules</a></li>
            <li><a href="#GroupASub2">Whats the deal with Components?</a></li>
        </ul>
    </li>
    <li>
        <a href="#GroupA">Dtk Client</a>
        <ul class="nav nav-stacked" >
            <li><a href="#GroupASub1">How to do client</a></li>
            <li><a href="#GroupASub2">The CLI Overview</a></li>
            <li><a href="#GroupASub2">Some other pt</a></li>
        </ul>
    </li>
</ul>